.wrapper {
    display: flex;
    flex-direction: column; // cho nam` theo chieu doc
    align-items: center; // cho nam giua
}

.container {
    width: var(--default-layout-width);
    min-height: 1000px;
    padding: 0 var(--default-layout-horizontal-spacer);
    margin-top: var(--default-layout-header-height);
    display: flex;
}

.content {
    flex: 1;
}
